.article__header {
  margin-bottom: 20px;
}

.article__link {
  text-decoration: none;

  &:hover .article__title {
    color: $color-primary;
  }
}

.article__title {
  transition: all 200ms ease;
  font-size: 2.7rem;
  margin-bottom: 0;

  @media (min-width: 544px) {
    font-size: 4.8rem;
  }
}

.article__meta {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  color: #9EABB3;
  line-height: 1;
}

.article__tag-list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  line-height: inherit;
}

.article__tag {
  line-height: inherit;
  margin: 0;
  margin-right: 8px;
  text-transform: lowercase;
  letter-spacing: 1px;

  &:hover {
    color: $color-primary;
  }

  &::before {
    content: '#';
    display: inline-block;
    margin-right: -4px;
  }
}

.article__link--tag {
  color: #9EABB3;

  &:hover {
    color: $color-primary;
  }
}

.article__content {
  img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 0.6em 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
