<html>
  <head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/app.css" media="screen" charset="utf-8">
    <script src="https://use.fontawesome.com/002e2eec43.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    {{ghost_head}}
  </head>
  <body>
    <div class="site-wrapper">
      <div class="inner">
        {{{body}}}
      </div>
    </div>
    <footer class="footer">
      <section class="footer__impress inner">
        <div class="footer__address">
          Jan Hofmann -
          Sibeliusweg 7 -
          30655 Hannover
        </div>
        <a class="footer__link" href="mailto:jan.hofmann@dexite.de">
          jan.hofmann@dexite.de
        </a>
      </section>
      <div class="footer__social inner">
        <a class="footer__link footer__link--social" href="https://twitter.com/ausminternet" alt="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="footer__link footer__link--social" href="https://github.com/ausminternet" alt="github">
          <i class="fa fa-github"></i>
        </a>
        <a class="footer__link footer__link--social" href="https://www.strava.com/athletes/2019444" alt="Strava">
          <i class="fa fa-bicycle"></i>
        </a>
        <a class="footer__link footer__link--social" href="https://www.instagram.com/ausminternet/" alt="Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </footer>
    <script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>
